.clock {
    border: none;
    background-size: 90%;
    height: 1em;
    padding-bottom: 30%;
    margin-left: 28%;
    position: relative;
    width: 36em;
    border-radius: 20px;
  }
  
  img{
    height: 100%;
    width: 100%;
    border-image:url("https://raw.githubusercontent.com/AbbaciKhaled/Angular-TP---BENSALAH-Kawthar-et-ABBACI-Khaled/master/src/assets/clock.jpg") 30 repeat;
    -o-border-image:url("https://raw.githubusercontent.com/AbbaciKhaled/Angular-TP---BENSALAH-Kawthar-et-ABBACI-Khaled/master/src/assets/clock.jpg") 30 repeat;
    -moz-border-image:url("https://raw.githubusercontent.com/AbbaciKhaled/Angular-TP---BENSALAH-Kawthar-et-ABBACI-Khaled/master/src/assets/clock.jpg") 30 repeat;
    -webkit-border-image:url("https://raw.githubusercontent.com/AbbaciKhaled/Angular-TP---BENSALAH-Kawthar-et-ABBACI-Khaled/master/src/assets/clock.jpg") 30 repeat;
    border-style: double;
    border-width: 10px;;
    border-radius: 4px;
    padding: 2% 2%;
    position: relative;
  }
  .hand {
    position:absolute;
    transform-origin: 0 0;
    top:32%;
    left:58%;
    width:60px;
    height:9px;
    margin-bottom: 1px;
   
  }
  .hour-hand {
    border-top-width:11px;
    filter: drop-shadow(0 0 0.1rem rgb(73, 72, 72));
    border-top:5.5px solid rgb(124, 122, 122);  
   
  }
  .minute-hand {
    border-top-width:5px;
    filter: drop-shadow(0 0 0.1rem rgb(73, 72, 72));
    border-top:2px solid rgb(187, 186, 186);
  }
  
  .second-hand {
  border-top:1px solid rgb(245, 9, 9);
  filter: drop-shadow(0 0 0.1rem rgb(247, 4, 4));
  
  }

@media only screen and (max-width: 1350px) {
    .clock {
      background-size: 50%;
      margin-left: 13%;
      margin-right: 12%;
      size: 50%;
      height: 0.2em;
      width: 20em;
    }
    .hand {
    transform-origin: 0 0;
    top:77px;
    left:60.2%;
    width:10%;
    }
  }

