<!-- 
  Travail réalisé par : 
     ABBACI  KHALED      201400008348
     BENSALAH  KAWTHAR   201500008717     
 -->
<h2>Exercice 2 : BOX-OFFICE avec API REST</h2>
<ul>
    <li>
        <a href="#">
            <div class="name"><span data-text="Home">Home</span></div>
        </a>
    </li>
    <li>
        <a href="#">
      
            <div class="name"><span data-text="Categories">Categories</span></div>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="name"><span data-text="Soon">Soon</span></div>
        </a>
    </li>
    <li>
        <a href="#">
    
            <div class="name"><span data-text="About">About</span></div>
        </a>
    </li>
    <li>
        <a href="#">
            <div class="name"><span data-text="Login">Login</span></div>
        </a>
    </li>
    <li>
        <div class="box">
            <input type="text" name="" placeholder="Searche ...">   
            <input type="submit" name="" value="Searche">   
        </div>
    </li>
</ul>



<app-box-office></app-box-office>

<div class="footer">
	<p>Ce travail est réalisé en binome par : BENSALAH Kawthar et ABBACI Khaled
	<br>MASTER 2 IL Groupe 1</p>
</div>
