<div class="movie">
    <div class="box">
        <div class="imgBox">
            <img src="https://image.tmdb.org/t/p/w185/{{poster_path}}"/>
        </div>
        <div class="details">
            <div class="content">
                <h2>Description</h2>
                <p>{{overview}}</p>
            </div>
        </div>
    </div>
    <div>
        <h2>Title : {{title}}</h2>
        <h3>Date : {{release_date}}</h3>
        <h3>Language : {{original_language}}</h3>
        <h3>Average : {{vote_average}}</h3>
    </div>
</div>